
#main_body{
	width: 100%;
	height: 1000px;
	/*background:#E7ECEF;*/
}
#main_body #main{
	width: 80%;
	height: 1000px;
	margin:0 auto;
	
}
#main_body #main #content{
	width: 64%;
	height: 945px;
	float: left;
	background:white;
	border-right: 1px solid #F3F3F3;
}

#main_body #main #content .post{
	height: 275px;
	width: 80%;
	margin-top: 30px;
	margin-left: 14%;
	/*background: green;*/
	border-bottom: 1px solid #F3F3F3;
}
#main_body #main #content .post .hover{
	width: 100%;
	height: 170px;
	background: #F3F3F3;
	float: left;
}
#main_body #main #content .post .hover .postimage{
	height: 170px;
	width: 69%;
	float: left;
}
#main_body #main #content .post .hover .postinfo{
	height: 170px;
	width: 31%;
	float: left;
	/*margin-top: 10%;*/
	transition: background 2s;
	transition: color 1.5s;
}

#main_body #main #content .post .hover .postinfo:hover{
	background: rgba(96,160,237,0.7);
	color: #fff;
}
#main_body #main #content .post .hover .postinfo h6{
	margin-left: 24%;
	margin-top: 2px;
}
.mid-gray{
	font-size: 12px;
	font-weight: normal;
}
.mid-gray b{
	font-weight: bold;
	color: #666;
}
#main_body #main #content .post h3{
	width: 100%;
	height: 35px;
	/*background: pink;*/
	float: left;
	font-weight: normal;
	color: #454544;
	font-size: 20px;
	margin-top: 6px;
}
#main_body #main #content .post p{
	width: 100%;
	height: 70px;
	float: left;
	font-size: 13px;
	font-weight: normal;
	/*background: yellow;*/
}
#main_body #main #about{
	height: 945px;
	width: 30%;
	float: left;
	/*background: #666;*/
}
#main_body #main #about .blogs{
	width: 80%;
	height: 300px;
	/*background: green;*/
	margin-top: 100px;
	margin-left: 10%;
}
#main_body #main #about .blogs p{
	margin-left: 6px;
	color: #454544;
	font-size: 17px;
}
#main_body #main #about .blogs ul li{
	font-size: 13px;
	margin-top: 4px;
	color: #727296;
}
#main_body #main #about .blogs ul li span{
	font-size: 10px;
}
#main_body #main #about .text{
	width: 80%;
	height: 300px;
	/*background: pink;*/
	margin-left: 11%;
}
#main_body #main #about .text h1{
	font-weight: normal;
	font-size: 17px;
	color: #454544;
}
#main_body #main #about .text p{
	font-size: 13px;
}



