<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
	<title>博客</title>
	<link rel="shortcut icon" href="__PUBLIC__/Images/title.png">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/new.css">
</head>
<body>
	<div id='wrapper'>
	<div id = 'menu'>
		<div class="div1">
			<img src="__PUBLIC__/Images/menu.png">
		</div>
		
		<div class="div2">

			<ul>
				<li>作者介绍</li>
				<li>作品介绍</li>
			</ul>
		</div>
		<div class="div3">
			<h1>姓名      王佳欢</h1>
			<p>来自     华中农业大学</p>
			<p>计科1504</p>
			<p>沸点工作室</p>
		</div>
		<div class="div4">
			<img src="__PUBLIC__/Images/idea.png"><p>因为华中农业大学信息学院计算机程序设计大赛而做。以简洁明快的方式呈现出一个简易博客。</p>
		</div>
	</div>
		<div id='head_picture'>
			<div class='words'>
				<h1>你 好,<b class='active'>这是一个博客</b></h1>
			</div>
			<a href="__APP__/Home/First/first" class="scrolldown">
			<h3>More about us</h3>
			<div class="icon"><img src="__PUBLIC__/Images/arrows.png"></div>
			<!-- <script type="text/javascript">
			window.onload=function(){
				if (document.body && document.body.scrollTop && document.body.scrollLeft)
				{
				top=document.body.scrollTop;
				left=document.body.scrollleft;    
				}
				if (document.documentElement && document.documentElement.scrollTop && document.documentElement.scrollLeft)
				{
				top=document.documentElement.scrollTop;
				left=document.documentElement.scrollLeft;
				}
			}
				
			</script> -->
		</a>
		</div>

		<div id = 'hot_topic'>
		
			<h2>热门话题 <img src="__PUBLIC__/Images/hot.png"></h2>
			<ul>
				<li>
					<div class="section_block">	
						<a href="__APP__/Home/Hot/hot"><img src="__PUBLIC__/Images/topic1.jpg"></a>
						<div class="content">
							<h5>JAVA</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover_content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<li>
					<div class="section_block">	
						<a href="__APP__/Home/Hot/hot"><img src="__PUBLIC__/Images/topic2.jpg"></a>
						<div class="content">
							<h5>C++</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover_content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<li>
					<div class="section_block">	
						<a href="__APP__/Home/Hot/hot"><img src="__PUBLIC__/Images/topic3.jpg"></a>
						<div class="content">
							<h5>HTML</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover_content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<li>
					<div class="section_block">	
						<a href="__APP__/Home/Hot/hot"><img src="__PUBLIC__/Images/topic4.jpg"></a>
						<div class="content">
							<h5>JAVASCRIPT</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover_content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				
			</ul>
		</div>

		<div id = 'hot_people'>

			<h1 class='left'></h1><h2 class = 'hotpeple'>热门人物</h2><h1 class='right'></h1>
			<div class ='hot_people_content'>
				<div class="person">
					<div class="image_quotefade">
						<img src="__PUBLIC__/Images/people1.jpg">
						<div class="quotehover">
							<h5>“You have to do something you’ve never done 
							to have something you’ve never had.”</h5>
							<h6>Elizabeth Franklin</h6>
						</div>
					</div>
					<div class="info">
						<a href="__APP__/Home/Hotpeople/hotpeople"><h2>刘浩然</h2></a>
						<h4 class="light-gray">CEO</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<!-- Clear :) -->
				<div class="clear"></div>

				<div class="person">
					<div class="image_quotefade">
						<img src="__PUBLIC__/Images/people4.jpg">
						<div class="quotehover">
							<h5>“You have to do something you’ve never done 
							to have something you’ve never had.”</h5>
							<h6>Elizabeth Franklin</h6>
						</div>
					</div>
					<div class="info">
						<a href="__APP__/Home/Hotpeople/hotpeople"><h2>李健</h2></a>
						<h4 class="light-gray">CEO</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<!-- Clear :) -->
				<div class="clear"></div>

				<div class="person">
					<div class="image_quotefade">
						<img src="__PUBLIC__/Images/people3.jpg">
						<div class="quotehover">
							<h5>“You have to do something you’ve never done 
							to have something you’ve never had.”</h5>
							<h6>Elizabeth Franklin</h6>
						</div>
					</div>
					<div class="info">
						<a href="__APP__/Home/Hotpeople/hotpeople"><h2>黄轩</h2></a>
						<h4 class="light-gray">CEO</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<!-- Clear :) -->
				<div class="clear"></div>
			</div>
			
		</div>

		<div id='our_servers'>
			<h1 class='left'></h1><h2 class = 'Servers'>Our Servers</h2><h1 class='right'></h1>
			<p>有你喜欢的音乐</p>
			<div class="front1" onClick='window.location="http://music.163.com//"' >
				<img src="__PUBLIC__/Images/music.png" class="active">
			</div>
			<div class="front2" onClick='window.location="http://www.youku.com/"'>
				<img src="__PUBLIC__/Images/vedio.png">
			</div>
			<div class="front3" onClick='window.location="http://www.baidu.com/"'>
				<img src="__PUBLIC__/Images/baidu.png">
			</div>
			<div class="front4" onClick='window.location="http://www.52feidian.com/"'>
				<img src="__PUBLIC__/Images/boil.png">
			</div>
		</div>

		<div id = 'footer'>
			<include file="./Application/Home/View/Public/footer.html" />
		</div>
	</div>
	
	<script type="text/javascript">
		window.onload=function()
        {
            var arr=[
                '有你喜欢的音乐',//JS中的数组
                '有些你不可错过的电影',
                '不会的百度一下',
                '沸点的官网呦',
            ];
            var oDiv=document.getElementById('our_servers');
            var oDivimg=oDiv.getElementsByTagName('img');
            var oTxt=oDiv.getElementsByTagName('p')[0];

            for(var i=0;i<oDivimg.length;i++)
            {
                oDivimg[i].index=i;//JS中动态添加自定义属性
                oDivimg[i].onmouseover=function()
                {
                    for(var i=0;i<oDivimg.length;i++)
                    {
                        oDivimg[i].className='';//先清空属性
                    }
                    this.className='active';//将选中的class变为active
                    oTxt.innerHTML='<p>'+arr[this.index]+'</p>';//拼接符号+
                };
                
            }

            var oDivmenu = document.getElementById('menu');  
            var oDiv1 = oDivmenu.getElementsByTagName('div')[0];
            var oDiv2 = oDivmenu.getElementsByTagName('div')[1];  
            var oDiv3 = oDivmenu.getElementsByTagName('div')[2];
            var oDiv4 = oDivmenu.getElementsByTagName('div')[3];
            var aLi1 = oDiv2.getElementsByTagName('li')[0];
            var aLi2 = oDiv2.getElementsByTagName('li')[1];

            var timer=null;  
            var timer2 = null;
            var timer3 = null;

            oDiv2.onmouseover=oDiv1.onmouseover=function(){  
                oDiv2.style.display='block';  
                clearTimeout(timer);//清除定时器  
            }  
            oDiv2.onmouseout=oDiv1.onmouseout=function(){  
                timer=setTimeout(function(){oDiv2.style.display='none'},500);//开启定时器 
            } 
            /*------------------------------------------------------------------------------*/

            aLi1.onmouseover = function() {
            	oDiv3.style.display = 'block';
            	clearTimeout(timer2);
            }
            oDiv3.onmouseover = function() {
            	oDiv3.style.display = 'block';
            	clearTimeout(timer);
            	aLi1.style.display = 'block';
            	clearTimeout(timer2);
            }
            aLi1.onmouseout = oDiv3.onmouseout = function(){
            	timer2 = setTimeout(function(){oDiv3.style.display = 'none'},0);
            }
            /*------------------------------------------------------------------------------*/

            aLi2.onmouseover = function() {
            	oDiv4.style.display = 'block';
            	clearTimeout(timer3);
            }
            oDiv4.onmouseover = function() {
            	oDiv4.style.display = 'block';
            	clearTimeout(timer);
            	aLi2.style.display = 'block';
            	clearTimeout(timer3);
            }
            aLi2.onmouseout = oDiv4.onmouseout = function(){
            	timer3 = setTimeout(function(){oDiv4.style.display = 'none'},0);

            }
            
            /*var oDivtopic = document.getElementById('hot_topic');
            var oDivsection = oDivtopic.getElementsByTagName('div');
            var oDivhover = oDivsection.getElementsByTagName('div');
            oDivsection.onmouseover = function() {alert(11);
            	oDivhover.style.display = 'block';
            }*/
        };
	</script>
	
	
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
	<!-- <script type="text/javascript" src="__PUBLIC__/Js/new.js"></script> -->
</body>
</html>